.portfolio h1
    text-align: center
    font-weight: bold
    color: #616161
    margin-top: 5%
    font-size: 40px
.portfolio-bar
    text-align: center
    background:#616161
    height: 4px
    width: 75px
    margin-bottom: 5%
    margin-left: auto
    margin-right: auto