<mat-toolbar style="background-color:#0d142a;z-index: 999999">
  <button mat-button style="color: azure;">HOME</button>
  <button mat-button style="color: azure;">ABOUT</button>
  <button mat-button style="color: azure;">PORTFOLIO</button>
  <button mat-button style="color: azure;">CONTACT</button>
</mat-toolbar>
<div class="banner-text">
  <h2 style="margin-top: 20%;" >Hello,<span style="color:#e31b6d;"> I'm Bryan Villa.</span></h2> 
  <h2>I'm a full-stack web developer.</h2>
  <h2><button class="banner-text-btn ">View my work!</button></h2>
    
</div>

<div class="animation-area">
  <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<app-about></app-about>
<app-portfolio></app-portfolio>